{% extends 'base.html' %}
{% block content %}

<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About E-Fabric</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-lg-6">
                <br><br/>
                <h5>
                This is an online store for cloth
                </h5>
                <h5>
                Made by Alina Tobanova from UP-201 in 2024
                </h5>
                <h5>
                Email: alina23145@gmail.com
                </h5>
            </div>
        </center>
    </div>
</div>

<br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/>

{% endblock %}
