{% extends 'base.html' %}
{% block content %}

<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Choose a category</h1>
            <p class="lead fw-normal text-white-50 mb-0">Category page</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        {% for category in categories %}
             <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}" />
                    <div class="card-body p-4">
                        <div class="text-center">
                                <a class="btn btn-dark" href="{% url 'category' category.name %}" >{{ category.name|capfirst }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
