{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update user profile</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

            <div class="col-md-6 offset-md-3">

                <br/><br/>
              <form method="POST" action="{% url 'update_user' %}">
              {% csrf_token %}
              {{ user_form.as_p }}
                  <br/><br/>
                  <button type="submit" class="btn btn-warning">Update user profile</button>
              </form>
              <br/><br/>

              <a href="{% url 'update_password' %}" class="btn btn-warning">Update password</a>

<br/><br/><br/><br/><br/><br/><br/>

            </div>
    </div>
</div>

{% endblock %}
